@charset "utf-8";
/* Fab Lab Sign-In Interface Styles */

html{
	overflow-y: scroll;
}

body{
	font-family:'Ubuntu', Verdana, Sans-Serif;
	background:url(background.jpg) no-repeat black;
}

.clear{
	clear:both;
}

.block{
	display:block;
}

.hidden{
	display:none;
}

.right{
	float:right;
}

.left{
	float:left;
}

.red{
	background-color:#C42027;
}
.blue{
	background-color:#163B65;
}
.green{
	background-color:#209467;
}

.yellow{
	color:#FF0;
}

.whitetext{
	color:white;
}

.redtext{
	color:#C42027;
}

#tab-container{
	width:660px;
	/*margin:80px auto;*/
	margin:20 auto;
	background:white;
	-webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 1px 8px rgba(0, 0, 0, 1);
	box-shadow:         0px 1px 8px rgba(0, 0, 0, 1);
}

#tab-container img{
	border:0;
}

#buttons ul{
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
}

#buttons ul li{
	padding:0;
	margin:0;
	display:block;
	float:left;
	text-align:center;
	font-size:120%;
}

#buttons ul li a{
	width:200px;
	display:block;
	padding:25px 0;
	color:white;
	text-decoration:none;
}

#buttons ul li a:hover, #buttons ul li a:active{
	text-decoration:underline;
}

/* General Panel Section Styles */


/* TODO:  added this as a fix for that bar between buttons and content under
 * them... but need to change the original*/
/*
.panel-container{
    margin-top: -16px;
}
*/

.panel-container h2{
	margin-top:0;
}

.panel-container form{
	margin-bottom:10px;
}

#createaccount, #signin, #signout{
	color:white;
	/*padding:30px 20px;*/
}

/* Specific Panel Section Styles */

#createaccount{
	text-align:left;
	padding:1px 0 0 0;
}

	#createaccount p{
		padding:0 20px;
	}
	
	#createaccount a:link, #createaccount a:visited{
		color:#209467;
	}
	
	#createaccount a:active, #createaccount a:hover{
		text-decoration:none;
		color:#209467;
	}
	
	#createaccount .formarea{
		background-color:white;
		color:#333;
		padding:10px 20px;
	}
	
	#createaccount form{
		text-align:right;
	}
	
	#createaccount .formblock{
		width:100%;
		padding:1px 0;
	}
	
	#createaccount input{
		margin:4px 0 1px 4px;
	}
	
	#createaccount input[type="text"], #createaccount input[type="textarea"], #createaccount input[type="email"]{
		background-color:#EEE;
		border:1px solid #333;
	}
	
	#createaccount .info{
		margin-bottom:-3px;
	}
	
	#createaccount input[type="submit"]{
		background-color:#C42027;
		color:white;
		font-family:'ubuntu', verdana, sans-serif;
		font-weight:bold;
		border:0;
		padding:3px;
		margin-top:3px;
	}

#signin{
	/*text-align:center;*/
    text-align: left; 
}

#signout{
	padding:0;
}

#signout table{
	background-color:white;
	margin:0 auto;
	color:black;
	padding:0;
}

#signout td, #signout th{
	padding:12px 16px;
	text-align:left;
}

/* paragraph backgrounds should be same as panel they're in  */
/* TODO:  clean up styles because this should not be explicit */
p {
    padding: 0;
    margin: 0px;
    margin-bottom: 0.6em;
}

label {
    margin-left: 0.4em;
    vertical-align: middle;
}

input[type="checkbox"] {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px
    vertical-align: bottom;
}

input[type="text"] {
/*
    -ms-transform: scale(1.5); /* IE */
/*
    -moz-transform: scale(1.5); /* FF */
/*
    -webkit-transform: scale(1.2); /* Safari and Chrome */
/*
    -o-transform: scale(1.5); /* Opera */
    vertical-align: middle;
    border: 3px solid rgb(175, 172, 172); 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 5px;
    background: rgb(224, 224, 224);
    margin: 0 0 1px 0;
    margin-top: 5px;
    margin-bottom: 0px;
    border-radius: 4px; 
    width: 25em; 
    font-size: 0.8em;
}

/*input[type="submit"] {
 */
input#submit_button {
    margin-top: 1em;
    border : solid 1px #e6e6e6;
    border-radius : 3px;
    moz-border-radius : 3px;
    -webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
    -moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
    box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
    font-size : 1em;
    padding : 1px 17px;
    background : #ffffff;
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(49%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
    background : -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
    background : -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
    background : -o-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
    background : -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
    background : linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
}

#signin span#error {
    /*color: red;*/
    color: rgb(121, 0, 0);
    text-align: right;
    margin-left: 20px;
    font-style: italic;
    /*text-shadow: -1px -1px 2px black;*/
}

#signup p#error {
    color: red;
    text-align: right;
    margin-left: 20px;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 1em;
    text-align: left
}

#required {
    color: rgb(245, 255, 0);
    font-style: italic;
    vertical-align: middle;
}

#fablab_logo_top {
    margin-bottom: 1px;
}

.ui-widget-header {
background: #C42027 !important;
color: #FFFFFF !important;
font-weight: normal !important;
}

.ui-dialog {
    width: 300px !important;
}

#username_finder {
    color:rgb(255, 112, 0);
    text-decoration: underline;
    font-size:0.7em
}

#all_usernames_list {
    overflow-y: scroll;
    height: 200px;
    border: 1px solid #aaaaaa;
}

#flash_message {
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    border: 1px #C42027 solid;
    background: #fff
}

/* force show scrollbars on OS X */
/*
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
*/

/*
#signout p {
    background-color: #C42027;
}

#createaccount p {
    background-color: #163B65;
}

#signin p {
    background-color: #209467;
}
*/
