<html>
<head>
    <title>{{title}}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Screen.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!-- Temp style!!!!!! -->
    <!--
    <style>
        body { font-family: Georgia;}
        table { border-collapse:collapse; }
        table,th, td { border: 1px solid black; padding: 3px; }
    </style>
    -->
    <script src="{{ url_for('static', filename='jquery-1.7.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='jquery.hashchange.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='jquery.easytabs.js') }}" type="text/javascript"></script>


    <!-- TODO: move below thanks to elsewhere... like a developer doc -->
    <!--
    Thanks to Alfa Jango for the EasyTabs.js - http://os.alfajango.com/easytabs/
    -->

    <!-- TODO: clean up/consolidate -->
    <script type="text/javascript">
        /***************************************
        * easytabs
        ***************************************/
        $(document).ready( function() {
            $('#tab-container').easytabs({
            animate: false,
            /*
            transitionCollapse: 'show', */
            /* clicking again on same tab, stay
            there */

            /*
            collapsible: true,
            transitionCollapse: 'slideUp',
            transitionIn: 'slideDown',
            transitionInEasing: 'swing',
            transitionOut: 'slideUp',
            transitionIn: 'fadeIn',
            transitionOut: 'hide',
            transitionInEasing: 'linear',
            collapsedByDefault: true,
            */
            collapsedByDefault: false,
            tabs: "> div > ul > li",
            });
        });

        /***************************************
        * redirect to specified anchor
        ***************************************/
        $(document).ready( function() {
            location = "#{{ anchor }}";
        });

        /***************************************
        * toggle_visibility certain fiels
        ***************************************/
        function toggle_visibility(id) {
            var elem = document.getElementById(id);
            if (elem.style.display == 'block')
                elem.style.display = 'none';
            else
                elem.style.display = 'block';
            }
    </script>
</head>
<body>
    <!-- flash message for form submission -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <!-- note the new 'class = category ' below!! -->
            <div style="width: 300px; margin: 20px auto; padding: 10px;
            text-align: center; border: 1px blue solid; background: #fff"
            class="{{ category }}">
                {% for message in messages %}
                    {{ message }}<br />
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- outer div for centering -->
    <div style="margin:0 auto; width:600px;">
        <div id="tab-container" class="tab-container">
            <div id="fablab_logo_top" style="margin-left:30px; margin-right:30px; background-color:white;">
                <a href="/index#signin">
                    <img src="{{ url_for('static', filename='Logo.jpg') }}" alt="Champaign-Urbana Community Fab Lab" width="600" height="450" />
                </a>
            </div>
            <div id="buttons">
                <!-- <ul class="etabs"> -->
                <ul>
                <!-- <li><a href="#createaccount" class="blue tab">Create Account</a></li> -->
                    <li><a href="#signup" class="blue tab" style="width: 220">Create Account</a></li>
                    <li><a href="#signin" class="green tab" style="width: 220">Sign In</a></li>
                    <li><a href="#signout" class="red tab" style="width: 220">Sign Out</a></li>
                </ul>
                <br class="clear" />
            </div>



            <div class="panel-container">
            <!-- <div id="createaccount" class="blue"> -->

                <div id="signin" class="green">
                    <form action='signin' method='post' name='signin' autocomplete='off'>
                    {# <!-- No password for now:
                    {{form.hidden_tag()}} --> 
                    <!--
                        <p>
                            User Name<br/>
                            {{form.user_name(size=40)}}
                            {% for error in form.errors.user_name %}
                                <span style='color: red;'>
                                    {{error}} (Please provide your user name or email address)
                                </span>
                            {% endfor %}
                        </p>
                        -->#}
                        <div style="padding:30px;" class="green">
                                <p>
                                    {{ signin_form.user_name_or_email.label }}:
                                    <p>{{ signin_form.user_name_or_email }}
                                    <span id="required">Required</span>
                                    </p>
                                </p>
                                {% for field_name, field_errors in signin_form.errors.items() %}
                                    {% if field_name ==
                                    signin_form.user_name_or_email.name %}
                                        {% for error in field_errors %}
                                        <div style="text-align: right">
                                            <span id="error">{{ error }}</span>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}

                                <p style="padding-top:5px;">What are you planning to do today? (Mark all that apply.)

                                <p>{{ signin_form.dont_know }}{{ signin_form.dont_know.label }}<p>
                                <p>{{ signin_form.volunteer }}{{ signin_form.volunteer.label }}<p>
                                <p>{{ signin_form.get_help }}{{ signin_form.get_help.label }}<p>
                                <p>{{ signin_form.hangout }}{{ signin_form.hangout.label }}<p>
                                <p>{{ signin_form.computer }}{{ signin_form.computer.label }}<p>
                                <p>{{ signin_form.electronics_room }}{{ signin_form.electronics_room.label }}<p>
                                <p>{{ signin_form.laser_engraver }}{{ signin_form.laser_engraver.label }}<p>
                                <p>{{ signin_form.milling_machine }}{{ signin_form.milling_machine.label }}<p>
                                <p>{{ signin_form.three_d_printing }}{{ signin_form.three_d_printing.label }}<p>
                                <p>{{ signin_form.tour }}{{ signin_form.tour.label }}<p>
                                <p>{{ signin_form.vinyl_cutter }}{{ signin_form.vinyl_cutter.label }}<p>

                               <p onclick="toggle_visibility('project_types')">
                                   {{ signin_form.project }}{{ signin_form.project.label }} </p>
                               <div id="project_types" style="display:none">
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{ signin_form.project_art }} {{ signin_form.project_art.label }}
                                    </p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{ signin_form.project_business }} {{ signin_form.project_business.label }}
                                    </p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{ signin_form.project_research }} {{ signin_form.project_research.label }}
                                    </p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {{ signin_form.project_other.label }}: {{ signin_form.project_other }} 
                                    </p>
                                </div>

                               <p onclick="toggle_visibility('which_class')">
                                   {{ signin_form.for_class }}{{ signin_form.for_class.label }}</p>
                               <div id="which_class" style="display:none">
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{ signin_form.which_class.label }} {{ signin_form.which_class }}
                                    </p>
                                </div>

                               <p onclick="toggle_visibility('other_reason')">
                                   {{ signin_form.other }}{{ signin_form.other.label }}</p>
                               <div id="other_reason" style="display:none">
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{ signin_form.other_text.label }} {{ signin_form.other_text }}
                                    </p>
                                </div>


                                 <p><input id="submit_button" type='submit' value='Sign In'></p>
                            </div>
                        </form>
                    </div>  <!-- id='signin' -->


                  <div id="signup" class="blue" style="text-align: right;">
                    <form action='/signup' method='post' name='signup' autocomplete='off'>
                        <div style="padding:30px; color: white; text-align: left" class="blue">
                           {% for field in signup_form %}
                            <!-- control placement of label relative to field (labels for text fields go
                                 before the field; checkbox labels go after the field -->
                                {% if field.type == 'BooleanField' %}
                                     <p>&nbsp;{{ field }} {{ field.label }}</p>
                                 {% elif field.type == 'TextField' or field.type == 'TextAreaField' %}
                                     <p>{{ field.label }}: {{ field }}
                                 {% if field.name == 'user_name' %}
                                    <span id="required">Required</span><br>
                                    </p>
                                {% endif %}
                                 {% endif %}
                                 <!-- loop through errors for this field -->
                                 {% for field_name, field_errors in signup_form.errors.items() %}
                                    {% if field_name == field.name %}
                                        {% for error in field_errors %}
                                            <span id="error">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                           {% endfor %}
                            <p>
                                <input id='submit_button' type='submit' value='Submit'>
                            </p>
                        </div>
                    </form>
                  </div>  <!-- id="signup" -->



                  <div id="signout" class="red">
                    <div style="padding:30px;" class="red">
                    <!-- List signed-in users with 'sign out' links. If no user is signed in,
                         don't show the table -->
                        {% if signed_in_users == [] %}
                            <p>No one is signed in</p>
                        {% else %}
                            <table>
                                <tr>
                                    <!-- TODO: styles here -->
                                    <th width="30%" class="red whitetext">Name</th>
                                    <th width="30%" class="red whitetext">Time In</th>
                                    <th width="20%" class="red whitetext">Sign Out</th>
                                </tr>
                                {% for user in signed_in_users %}
                                    <tr>
                                    <!-- {# TODO: Note that here I'm doing the None check because I
                                         created some Visits in the shell, without Users (i.e. that
                                         field was None), so Flask complains that None does not
                                         have get_time_in() and so forth........ So this would not
                                         (should not?) happen in real life - i.e.  this check is
                                         probably unnecessary. But note, another TODO: - something
                                         to check with unit tests..... #}-->
                                         {% if user %}
                                            <td>{{ user }}</td>
                                            <td>{{ user.get_time_in() }}</td>
                                            <td> <a href='/signout/{{ user.id }}'>Sign Out</a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                </div>  <!-- id="signout" -->

        </div>   <!-- class = panel container -->

    </div> <!-- id='tab-container' -->

</div>  <!-- outer div for centering -->

<!-- TODO: temp ................ if not, styles -->
<div style="width: 300px; margin: 20px auto; text-align: center; background-color: #fff">
    <a href="/stats">Statistics (placeholder)</a><br />
    Download stats in <a href="/download_csv">CSV</a> or <a href="/download_excel">Excel</a> format (placeholder).
</div>

</body>
</html>
