<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <div>Navigaton tabs, etc. go here</div>
    <p>Here's the current user and info: </p>
    <ul>
        <li>USER: {{user}}</li>
        <li>USER.NICKNAME: {{user.nickname}}</li>
    </ul>
    <h1>Looping over some stuff just for fun</h1>
    {% for thing in stuff %}
        <p>
            <b>key1</b>: {{thing.key1}};
            <b>key2</b>: {{thing.key2}}
        </p>
    {% endfor %}
    <hr>

    <!-- flash message for form submission -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                <span style='color: green;'>{{ message }}</span>
                {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- the actual form -->
    <h1>Sign In</h1>
    <form action='' method='post' name='signin'>
    <!-- No password for now:
    {{form.hidden_tag()}} -->
        <p>
            User Name<br/>
            {{form.user_name(size=40)}}
            {% for error in form.errors.user_name %}
                <span style='color: red;'>{{error}}</span>
            {% endfor %}
        </p>
        <p><input type='submit' value='Sign In'></p>
    </form>


</body>
</html>
